.header {
  position: absolute;
  z-index: 8;
  width: 100%;
  padding: 10px 15px;

  .container {
    background: #fff;
    border-radius: 4px;
    padding: 0 15px;
  }

  .logo {
    .creasion {
      margin-right: 25px;
      img {
        height: 85px;
        width: auto;
      }
    }

    img {
      width: 180px;
    }
  }
  .nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 100px;

    &_align_right {
      justify-content: right;

      li {
        &:last-child {
          margin-right: 0px I !important;
        }

        .submenu {
          left: auto !important;
          right: 0;
        }
      }
    }
    li {
      margin: 0 25px;
      position: relative;

      &:hover {
        .submenu {
          display: block;
        }
      }

      .submenu {
        position: absolute;
        top: 0;
        left: 0;
        width: 280px;
        padding-top: 50px;
        display: none;
        z-index: 9;

        .wrap {
          background: #fff;
          border-radius: 4px;

          a {
            display: block;
            padding: 12px 10px;
            line-height: 18px;
            text-transform: none;
            font-size: 15px;

            &:hover {
              background: #80d0d3;
              color: #fff;
            }
          }
        }
      }

      a {
        font-size: 15px;
        font-weight: 600;
        color: #1e607a;
        text-transform: uppercase;
        font-family: "Satoshi";

        &.btn_highlight {
          background: #33b2b6;
          color: #fff;
          line-height: 1;
          padding: 12px 20px;
          border-radius: 5px;
        }
      }
    }
  }
}

.mb_display {
  display: none;
}

.menuToggle {
  position: absolute;
  top: 30px;
  right: 30px;

  svg {
    font-size: 32px;
    color: #33b2b6;
  }
}

@media screen and (max-width: 1700px) {
  .header {
    .nav {
      padding-left: 80px;

      &_align_right {
        li {
          &:last-child {
            margin-right: 0 !important;
          }
        }
      }

      li {
        margin: 0 20px;

        a {
          font-size: 14px;

          &.btn_highlight {
            padding: 14px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .header {
    padding: 5px;
    .container {
      padding: 0 5px;

      .nav {
        li {
          margin: 0 15px;

          a {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .mb_display {
    display: block;

    img {
      height: 62px;
    }

    .btn_highlight {
      margin-top: 10px !important;
      display: block;
      text-align: center;
    }
  }

  .header {
    z-index: 999;
    position: fixed;

    .nav {
      position: fixed;
      top: 0;
      left: 0%;
      width: 75%;
      height: 103vh;
      background: #fff;
      padding-left: 0;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 0px;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
      transition: 0.5;

      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      li {
        margin: 15px 10px !important;
        border-bottom: 1px solid #cdcdcd;
        padding-bottom: 22px;

        a {
          font-size: 16px !important;
        }

        .submenu {
          position: relative;
          top: auto;
          left: auto;
          width: auto;
          padding-top: 20px;
          padding-left: 20px;
          display: none;

          .wrap {
            a {
              padding: 10px 6px;
            }
          }
        }
      }
    }

    .nav_align_right {
      display: none;
    }
  }
}
