.pledge_form_multiple {
  label {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 5px;
    padding: 10px;
    align-items: flex-start;

    &:last-child {
      border-bottom: 0;
    }

    span {
      padding: 0;
      margin-right: 10px;
    }
  }
}

.pledge_box {
  margin: 80px 0;

  &_nav {
    svg {
      width: 40px;
      height: 40px;
    }

    span {
      font-size: 18px;
      font-weight: 600;
      font-family: "Satoshi";
      position: relative;
      z-index: 3;
    }
  }

  .form_container {
    p {
      font-size: 16px;
    }

    &_title {
      margin-bottom: 30px;

      h3 {
        text-transform: none;
      }

      p {
        margin-top: 15px;
      }
    }

    .pledge_form {
      border: 1px solid #0000003b;
      padding: 12px 10px;

      span {
        font-family: "Satoshi";
      }
    }
  }

  .thanks_container {
    img {
      width: 70px;
    }
    h2 {
      text-transform: none;
    }

    h4 {
      margin: 30px 0;
      text-transform: none;
    }

    p a {
      color: #33b2b6;
      text-decoration: underline;
    }

    // p {
    //   margin-bottom: 30px;
    // }
  }

  .form_box {
    width: 100%;
    margin-bottom: 10px;

    label {
      margin-bottom: 10px;
      font-family: "Source Sans Pro";
    }
    small {
      font-size: 14px;
      margin-top: 30px;
      display: block;
    }

    textarea {
      min-height: 180px;
      border: 1px solid #0000003b;
      padding: 12px 10px;
      width: 100%;
    }
  }
}

.form_box {
  small {
    font-size: 14px;
    margin-top: 20px;
    display: block;
  }
}

.upload_image {
  background-color: transparent;
  width: 100%;
  border: 1px solid #cdcdcd;
  box-shadow: none !important;
  height: 56px;
  text-transform: none;

  svg {
    color: #33b2b6;
    opacity: 0.5;
    margin-right: 5px;
  }

  &:hover {
    background: inherit;
  }
}

.form_grid_terms {
  margin-top: 20px;
  font-size: 16px;

  .pledge_btn {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    width: 280px;
    text-transform: uppercase;
    justify-content: space-around;
    position: relative;

    progress {
      position: absolute;
      width: 80%;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
    }

    svg {
      margin-left: 8px;
    }
  }

  p {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: "Source Sans Pro";
    font-weight: 600;
  }

  ul {
    list-style: circle;
    padding-left: 20px;
    li {
      margin-bottom: 5px;
    }
  }
}

.pledge_into_action {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .icon {
    width: 100px;
    img {
      width: 60px;
    }
  }

  .text {
    width: calc(100% - 100px);
  }

  h5 {
    text-transform: none;
  }

  ul {
    list-style: circle;
    padding-left: 20px;
    li {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.pitch_action {
  .pledge_into_action {
    display: block;

    .text {
      width: 100%;
      margin-top: 30px;
    }
  }
}

.footer {
  margin-top: 40px;
  font-family: "Satoshi";
}

.pledge_box_nav_wrap {
  width: 100%;
  display: block;
  position: relative;

  .pledge_box_nav {
    padding: 15px 0;
  }
}

.pledge_btn {
  background: #33b2b6;
  border: 1px solid #33b2b6;
  color: #fff;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: #177072;
  }
}

.pitch_form {
  margin: 80px 0;

  .upload_image {
    font-size: 14px;
    justify-content: left;
    color: #0000003b;
  }
  .form_container_title {
    text-align: center;
    margin-bottom: 60px;
  }

  .forms_section {
    background: #e8f5f9;
    margin-top: 80px;
    padding: 5px 0 80px;

    .forms_nav {
      margin-bottom: 40px;
      position: relative;
      border-bottom: 1px solid #cdcdcd;

      button {
        font-family: "Source Sans Pro";
        font-weight: 500;
        margin: 10px 20px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: -0.2px;
        cursor: pointer;
        position: relative;
        color: #000;
      }

      div {
        div {
          justify-content: center;
        }
      }
    }

    .tab_title {
      text-align: center;

      h5 {
        margin-top: 40px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 40px;
        a {
          color: #33b2b6;
        }
      }

      h3 {
        margin: 40px 0 20px;
      }
    }
  }

  .form_box {
    margin-bottom: 10px;

    label {
      margin-bottom: 10px;
      font-family: "Source Sans Pro";
      color: #111;
      font-size: 16px;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    width: 60vw;
    height: 60vh;
    background: #fff;
    text-align: center;
    padding: 70px 0;

    img {
      width: 120px;
      margin-bottom: 40px;
    }

    h4 {
      text-transform: uppercase;
    }

    p {
      max-width: 380px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 500px) {
  .form_grid {
    width: 100%;
  }

  .pledge_box {
    .thanks_container {
      h2 {
        font-size: 48px;
      }

      .pledge_into_action {
        .text {
          width: 100%;
          margin-top: 15px;
        }
      }
    }
  }
}

.notificaton {
  position: absolute;
  top: 20px;
  right: 20px;

  // > div {
  //   background: #2a9625;
  // }
}
