.button {
  display: flex;
  align-items: center;

  .icon {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  span {
    font-size: 20px;
    line-height: 48px;
  }
}
