html,
body {
  padding: 0;
  margin: 0;
  color: #000000;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-LightIt.woff2") format("woff2"),
    url("../fonts/SourceSansPro-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Semibold.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-SemiboldIt.woff2") format("woff2"),
    url("../fonts/SourceSansPro-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-BlackIt.woff2") format("woff2"),
    url("../fonts/SourceSansPro-BlackIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Black.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-BoldIt.woff2") format("woff2"),
    url("../fonts/SourceSansPro-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-ExtraLightIt.woff2") format("woff2"),
    url("../fonts/SourceSansPro-ExtraLightIt.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-It.woff2") format("woff2"),
    url("../fonts/SourceSansPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-ExtraLight.woff2") format("woff2"),
    url("../fonts/SourceSansPro-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Light.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TuskerGrotesk-7700";
  src: url("../fonts/TuskerGrotesk-7700Bold.woff2") format("woff2"),
    url("../fonts/TuskerGrotesk-7700Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TuskerGrotesk-7800";
  src: url("../fonts/TuskerGrotesk-7800Super.woff2") format("woff2"),
    url("../fonts/TuskerGrotesk-7800Super.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TuskerGrotesk";
  src: url("../fonts/TuskerGrotesk-5600Semibold.woff2") format("woff2"),
    url("../fonts/TuskerGrotesk-5600Semibold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff");

  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff");

  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Satoshi";
  font-weight: normal;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Satoshi";
}

.container {
  max-width: 1463px;
}

.tooltips {
  position: absolute;
  background: white;
  padding: 5px;
  border: 1px solid black;
  z-index: 1000;
  transition: 0.5s all ease;
}

h1 {
  font-size: 108px;
  font-weight: 900;
  line-height: 98px;
  letter-spacing: -4px;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  margin-bottom: 25px;
  letter-spacing: -1.27px;
  font-family: "Source Sans Pro";
}

h2 span,
h3 span,
h4 span,
h2 em,
h3 em,
h4 em {
  color: #33b2b6;
  font-style: normal;
}

h3 {
  font-size: 42px;
  line-height: 45px;
  letter-spacing: -1.27px;
  font-family: "Source Sans Pro";
  margin-bottom: 25px;
}

h4 {
  font-size: 32px;
  line-height: 35px;
  font-family: "Source Sans Pro";
  letter-spacing: -1.27px;
  margin-bottom: 25px;
}

h5 {
  font-size: 24px;
  line-height: 29px;
  font-family: "Source Sans Pro";
  letter-spacing: -0.87px;
  margin-bottom: 15px;
}

p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 15px;
  font-family: "Satoshi";
}

img {
  max-width: 100%;
}

#finalCurve {
  visibility: hidden;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
}

.tooltip p {
  font-size: 14px;
  line-height: 18px;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  margin: 0 auto;
}

.swiper-center .swiper-wrapper {
  justify-content: center;
}

@media screen and (max-width: 1700px) {
  .container {
    max-width: 1336px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1196px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 62px;
    line-height: 60px;
  }

  h2 {
    font-size: 48px;
    line-height: 47px;
    margin-bottom: 25px;
  }

  h3 {
    font-size: 38px;
    line-height: 39px;
  }
}

progress,
progress::-webkit-progress-value {
  background: #addfe1;
  height: 5px;
  border-radius: 8px;
}
