.header {
  position: absolute;
  z-index: 8;
  width: 100%;

  .logo {
    .creasion {
      margin-right: 25px;
      img {
        height: 85px;
        width: auto;
      }
    }

    img {
      width: 180px;
    }
  }
  .nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    li {
      margin-left: 50px;
      a {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    display: none;
  }
}
