.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(
    circle,
    #33b2b6,
    #5abdc1,
    #78c9cb,
    #93d4d6,
    #addfe1
  );

  .text {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    max-width: 850px;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;

    h1 {
      font-size: 118px;
      line-height: 128px;
      text-transform: uppercase;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #ffffffb5;
      -webkit-text-fill-color: transparent;
      letter-spacing: 1px;
      font-family: "TuskerGrotesk-7700";

      span {
        -webkit-text-fill-color: #90eb9d;
        -webkit-text-stroke-width: 0px;

        -webkit-text-stroke-color: #ffffffb5;
      }
    }

    button {
      margin-top: 60px;
      padding: 15px 35px;
      color: #ffffffb5;
      border: 1px solid #ffffffb5;
      border-radius: 30px;
      font-size: 15px;
      background: transparent;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      letter-spacing: 1px;
      opacity: 0.9;

      &:hover {
        background: #1e607a;
        color: #fff;
      }
    }
  }

  &_btn {
    display: inline-flex;
    align-items: center;
    margin-top: 60px;

    .icon {
      border: 2px solid #ffffffb5;
      border-radius: 50%;
      width: 46px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;

      svg {
        color: #ffffffb5;
      }
    }

    span {
      font-size: 20px;
      line-height: 48px;
      color: #ffffffb5;
    }
  }

  .hero_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 100%;

    p {
      font-size: 14px;
      line-height: 20px !important;
    }

    &_left {
      position: absolute;
      height: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .takeaway {
        margin-left: -120px;
      }

      svg {
        margin: 10px 0;
      }
    }

    &_right {
      position: absolute;
      height: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      right: 0;

      .plastic {
        svg {
          width: 180px;
          path {
            fill: transparent;
            stroke: #fff;
            stroke-width: 4px;
          }
        }
      }

      .glass {
        transform: translateX(110px);

        svg {
          width: 150px;
          path {
            stroke-width: 1px;
          }
        }
      }

      .bottle {
        svg {
          path {
            stroke-width: 5px;
          }
        }
      }

      svg {
        margin: 10px 0;
        opacity: 0.5;
      }
    }

    svg {
      width: 150px;

      path {
        fill: #fff;
      }
    }
  }
}

.intro {
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  &_text {
    padding-right: 80px;

    p {
      width: 520px;
      max-width: 100%;

      a {
        font-weight: 800;
      }
    }
  }

  &_image {
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: 2;

    img {
      width: auto;
      height: 585px;
    }
  }

  &_video {
    position: absolute;
    bottom: 200px;
    right: 19%;
  }

  video {
    width: 180px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.focus_area {
  padding: 120px 0 0;
  position: relative;
  color: #fff;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
    background: #33b2b6;
  }

  .focusBox {
    margin-top: 80px;

    .focusCard {
      padding: 60px 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      &_image {
        text-align: center;
        position: relative;

        .lineart {
          position: absolute;
          top: -70px;
          left: 0;
          width: 160%;
          height: 150%;
          transform: scale(0.9);
          mask-image: none;
          object-fit: cover;
          opacity: 0.3;
        }
      }

      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        mask-image: url(../../public/image-mask.png);
        mask-mode: alpha;
        mask-repeat: no-repeat;
        mask-size: contain;
      }

      h4 {
        margin-bottom: 20px;
        text-transform: none;
      }

      p {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

.home_news {
  padding: 120px 0;
  background: #eff4f3;

  &_title {
    a {
      margin-top: 40px;
      opacity: 0.8;
      div {
        border: 2px solid #000 !important;
      }

      span {
        font-size: 16px;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .news_wrap {
    background: #fff;

    &_text {
      padding: 40px 20px;

      &_description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        > * {
          font-size: 15px;
          line-height: 24px;
        }
      }

      h6 {
        font-size: 20px;
        line-height: 24px;
        height: 48px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      span {
        font-size: 14px;
        display: block;
        margin: 25px 0;
        opacity: 0.8;
      }

      a {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        font-weight: 600;
        font-size: 14px;
        position: relative;
        opacity: 0.7;
        transition: 0.5s;

        &:hover {
          color: #33b2b6;
          opacity: 1;

          &::before {
            background: #33b2b6;
            height: 0.5px;
          }
        }

        &::before {
          position: absolute;
          top: 7px;
          left: 0;
          content: "";
          background: #cdcdcd;
          width: 74%;
          height: 1px;
          transition: 0.5s;
        }
      }
    }

    &_image {
      img {
        width: 100%;
        height: 255px;
        object-fit: cover;
      }
    }
  }
}

.partners {
  padding: 100px 0;
  overflow: hidden;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important ;
  color: #fff;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
  }

  .partner_container {
    position: relative;
    z-index: 3;
    &_title {
      margin-bottom: 60px;
    }
    .partner_box {
      margin-bottom: 20px;

      h4 {
        font-family: "Satoshi";
        text-transform: none;
        font-size: 24px;
      }

      &_logo {
        border-radius: 4px;
        background: #fff;
        display: flex;
        justify-content: center;
        padding: 10px 0;

        img {
          height: 90px;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .hero {
    .text {
      h1 {
        font-size: 98px;
        line-height: 110px;
      }
    }
  }

  .focus_area2 {
    .focus_area_title {
      top: 10px;

      &_box {
        padding: 20px;
        width: 425px;
      }

      h3 {
        font-size: 34px;
        line-height: 38px;
      }
    }

    .verticalScroll {
      .scrollBox {
        width: 65vw;
      }

      .focusBox {
        width: 54%;

        &_title {
          width: 460px;
          padding: 20px 40px;
        }
      }
    }
  }

  .home_news {
    margin-top: 0;
    padding-top: 120px;
  }
}

@media screen and (max-width: 1400px) {
  .intro {
    &_text {
      padding-right: 10px;
    }
  }

  .focus_area2 {
    .focus_area_title_box {
      width: 475px;

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .verticalScroll {
      margin-left: 400px;
      .scrollBox {
        height: 90vh;
        margin: 0;
      }
      .focusBox {
        width: 47%;

        &_title {
          padding: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .home_news {
    margin-top: 0;
    padding-top: 120px;
  }

  .focusBox {
    .focusCard {
      border-radius: 0 !important;

      h4 {
        height: auto !important;
      }
    }
  }
}

.impact_numbers {
  margin-top: 80px;
}
