.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #33b2b6;

  .text {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    max-width: 850px;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;

    h1 {
      font-size: 118px;
      line-height: 128px;
      text-transform: uppercase;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #ffffffb5;
      -webkit-text-fill-color: transparent;
      letter-spacing: 1px;
      font-family: "TuskerGrotesk-7700";

      span {
        -webkit-text-fill-color: #90eb9d;
        -webkit-text-stroke-width: 0px;

        -webkit-text-stroke-color: #ffffffb5;
      }
    }

    button {
      margin-top: 60px;
      padding: 15px 35px;
      color: #ffffffb5;
      border: 1px solid #ffffffb5;
      border-radius: 30px;
      font-size: 15px;
      background: transparent;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      letter-spacing: 1px;
      opacity: 0.9;

      &:hover {
        background: #1e607a;
        color: #fff;
      }
    }
  }

  &_btn {
    display: inline-flex;
    align-items: center;
    margin-top: 60px;

    .icon {
      border: 2px solid #ffffffb5;
      border-radius: 50%;
      width: 46px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;

      svg {
        color: #ffffffb5;
      }
    }

    span {
      font-size: 20px;
      line-height: 48px;
      color: #ffffffb5;
    }
  }

  .hero_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 100%;

    p {
      font-size: 14px;
      line-height: 20px !important;
    }

    &_left {
      position: absolute;
      height: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .takeaway {
        margin-left: -120px;
      }

      svg {
        margin: 10px 0;
      }
    }

    &_right {
      position: absolute;
      height: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      right: 0;

      .plastic {
        svg {
          width: 180px;
          path {
            fill: transparent;
            stroke: #fff;
            stroke-width: 4px;
          }
        }
      }

      .glass {
        transform: translateX(110px);

        svg {
          width: 150px;
          path {
            stroke-width: 1px;
          }
        }
      }

      .bottle {
        svg {
          path {
            stroke-width: 5px;
          }
        }
      }

      svg {
        margin: 10px 0;
        opacity: 0.5;
      }
    }

    svg {
      width: 150px;

      path {
        fill: #fff;
      }
    }
  }
}

.introAbout {
  background-color: #33b2b6;
  padding: 40px 0 80px;
  text-align: center;
  position: relative;

  &_svg {
    position: absolute;
    z-index: 3;
    top: -40px;
    left: 0;
    width: 100%;
    height: 45%;
    opacity: 0.18;

    img {
      width: 100%;
    }
  }

  &::before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20%;
    content: "";
    background: #33b2b6;
  }

  .impact_slider {
    position: relative;
    z-index: 4;

    .impact_box {
      background: #eff4f3;
      border-radius: 10px;
      border: 1px solid #cdcdcd;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 60px;
        margin-bottom: 10px;
      }

      h3 {
        margin-bottom: 10px;
        font-weight: 800;
        color: #33b2b6;
      }

      p {
        color: #1e607a;
        font-size: 16px;
        line-height: 22px;
        font-family: "Satoshi-Medium";
      }

      &:nth-child(even) {
        margin-top: 60px;
      }
    }
  }

  &_text {
    position: relative;
    z-index: 4;
    margin-bottom: 80px;

    h2 {
      font-size: 68px;
      line-height: 54px;
      color: #ffffffe8;

      span {
        -webkit-text-fill-color: #90eb9d;
      }
    }
  }

  p {
    color: #fff;

    a {
      font-family: "Satoshi-Medium";
    }
  }
}

.intro {
  padding: 100px 0 60px;
  position: relative;
  overflow: hidden;

  &_text {
    padding-right: 80px;

    p {
      width: 520px;
      max-width: 100%;

      a {
        font-weight: 800;
      }
    }
  }

  &_image {
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: 2;

    img {
      width: auto;
      height: 585px;
    }
  }

  &_video {
    position: absolute;
    top: 400px;
    right: 19%;
  }

  video {
    width: 180px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.map {
  height: 100vh;
}

.focus_area {
  padding: 80px 0 0;
  position: relative;
  color: #000;

  h2 {
    font-size: 68px;
    line-height: 54px;
    color: #ffffffb0;

    span {
      -webkit-text-fill-color: #000000;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
    background: #f6f5f2;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    background: #5abdc1;
  }

  .focusBox {
    margin-top: 60px;

    .focusCard {
      padding: 60px 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      &_image {
        text-align: center;
        position: relative;

        .lineart {
          position: absolute;
          top: -70px;
          left: 0;
          width: 160%;
          height: 150%;
          transform: scale(0.9);
          mask-image: none;
          object-fit: cover;
          opacity: 1;
          z-index: -1;
        }
      }

      img {
        width: 280px;
        height: 280px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      h4 {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 34px;
        text-transform: none;
        color: #000000;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: #000000;
      }
    }
  }
}

.home_news {
  padding: 100px 0;
  background: #eff4f3;
  position: relative;
  overflow: hidden;

  .home_news_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .home_news_title {
      width: 35%;
    }

    .home_news_slide {
      width: 60%;
    }
  }

  &_title {
    a {
      margin-top: 40px;
      opacity: 0.8;
      div {
        border: 2px solid #000 !important;
      }

      span {
        font-size: 16px;
      }
    }

    p {
      font-size: 17px;
      line-height: 24px;
    }
  }

  .news_wrap {
    background: #fff;
    border-radius: 4px;

    &_text {
      padding: 40px 20px;

      &_description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        > * {
          font-size: 15px;
          line-height: 24px;
        }
      }

      h6 {
        font-size: 20px;
        line-height: 24px;
        height: 48px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      span {
        font-size: 14px;
        display: block;
        margin: 25px 0;
        opacity: 0.8;
      }

      a {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        font-weight: 600;
        font-size: 14px;
        position: relative;
        opacity: 0.7;
        transition: 0.5s;

        &:hover {
          color: #33b2b6;
          opacity: 1;

          &::before {
            background: #33b2b6;
            height: 0.5px;
          }
        }

        &::before {
          position: absolute;
          top: 7px;
          left: 0;
          content: "";
          background: #cdcdcd;
          width: 74%;
          height: 1px;
          transition: 0.5s;
        }
      }
    }

    &_image {
      img {
        width: 100%;
        height: 255px;
        object-fit: cover;
      }
    }
  }
}

.partners {
  padding: 80px 0;
  overflow: hidden;
  position: relative;
  text-align: center;

  .partnerRow {
    margin: 40px 0;

    h5 {
      text-align: center;
      color: #33b2b6;
      text-transform: uppercase;
    }

    img {
      width: 100%;
      height: 90px;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 1700px) {
  .hero {
    .text {
      h1 {
        font-size: 98px;
        line-height: 110px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .intro {
    &_text {
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 550px) {
  .home_news {
    .home_news_flex {
      .home_news_title {
        width: 100%;
      }

      .home_news_slide {
        width: 100%;
        margin-top: 80px;
      }
    }
  }

  .focusBox {
    .focusCard {
      border-radius: 0 !important;

      h4 {
        height: auto !important;
      }
    }
  }
}
