.focuarea_main {
  padding: 80px 0;

  &:nth-child(even) {
    background: #e8f5f9;
  }

  h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #33b2b6;
    -webkit-text-fill-color: transparent;
    font-size: 68px;
    letter-spacing: 4px;
    font-family: "TuskerGrotesk-7700";
    margin-bottom: 5px;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .title_index {
      margin-right: 20px;
      span {
        font-size: 16px;
        color: #33b2b6;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    h3 {
      text-transform: none;
      margin: 0;
    }
  }

  .image_slide_wrap {
    &:hover {
      img {
        opacity: 0.6;
        padding: 10px;
      }
    }
  }

  .image_slide {
    margin-top: 40px;

    img {
      border-radius: 4px;
      overflow: hidden;
      width: 100%;
      height: 410px;
      object-fit: cover;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        padding: 0;
        transform: scale(1.05);
        opacity: 1;
        z-index: 9;
      }
    }
  }
}

.output {
  margin: 30px 0;

  &_title {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 20px;
    img {
      width: 60px;
      margin-bottom: 15px;
    }

    h4 {
      text-transform: none;
    }
  }

  &_text {
    ul {
      list-style: circle;
      padding-left: 20px;
      li {
        margin-bottom: 15px;

        a {
          display: initial;
          background-image: linear-gradient(#414040, #414040);
          background-position: 0 100%;
          background-repeat: no-repeat;
          background-size: 100% 1px;
          transition: background-size 0.6s ease-out;

          &:hover {
            background: 0 1px;
            color: #33b2b6;
          }
        }
      }
    }

    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .focuarea_main {
    h1 {
      font-size: 38px;
    }

    .title {
      span {
        text-align: center;
      }
    }
  }

  .output {
    margin: 15px 0;
  }
}
