.section_wrap {
  padding: 60px 0;
}

.report_wrap {
  padding: 30px 0px;

  .section_title {
    color: #33b2b6;
    text-transform: uppercase;
    letter-spacing: -0.24px;
    font-weight: 600;
  }

  .report_card {
    text-align: center;
    padding-bottom: 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 20px 0 rgba(218, 218, 218, 0.5);

    &:hover {
      h5 {
        color: #33b2b6;
      }
    }

    img {
      height: 260px;
      width: 100%;
      object-fit: cover;
    }

    h5 {
      font-weight: 400;
      font-size: 18px;
      padding: 20px 10px;
      line-height: 24px;
      height: 95px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
