.about {
  margin: 60px 0;
  text-align: center;
}

.media_wrap {
  background: #e8f5f9;
  margin: 60px 0;
  padding: 60px 0;

  .media_list {
    background: #fff;
    padding: 30px;
    border-radius: 4px;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        color: #33b2b6;
      }
    }

    h5 {
      display: -webkit-box;
      height: 87px;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;

      a {
        div {
          width: 40px;
          height: 40px;
          border: 1px solid #000;

          svg {
            width: 18px;
          }
        }

        span {
          font-size: 16px;
        }
      }

      p {
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        svg {
          width: 14px;
          margin-right: 4px;
        }
      }
    }
  }

  .coverage {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px 10px;
    border-radius: 4px;

    .image {
      width: 25%;
      border: 1px solid #cdcdcc;
      border-radius: 4px;

      img {
        padding: 2px;
        width: 100%;
        height: 150px;
        object-fit: contain;
      }
    }

    .title {
      width: 75%;
      padding: 0 20px;

      a {
        &:hover {
          color: #33b2b6;
        }
      }

      h5 {
        font-size: 22px;
      }

      p {
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        svg {
          width: 14px;
          margin-right: 4px;
        }
      }
    }
  }
}

.see_more {
  text-align: center;
  margin-top: 80px;

  a {
    justify-content: center;

    div {
      border: 2px solid #33b2b6 !important;

      svg {
        color: #33b2b6 !important;
      }
    }
  }
}
